<h1>Inserir Plano de Aula</h1>
<form action="/add-plano" method="POST">
    <label>ComponentesCurriculares</label>
    <input type="text" name="ComponentesCurriculares"><br><br>

    <label>ModelidadeDeEnsino</label>
    <input type="text" name="ModelidadeDeEnsino"><br><br>

    <button type="submit">Cadastrar Plano de Aula</button>   

</form>